<form (ngSubmit)="onSubmit(estudianteForm)" #estudianteForm="ngForm">
    <div>
        <input 
        class="form-control my-2" 
        placeholder="Nombre"
        name="name"
        [(ngModel)]="estudiante.nombreEstudiante"
        #name="ngModel"
        required
        minlength="3"
        >
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors!['required']">
                El nombre es requerido!
            </div>
            <div *ngIf="name.errors!['minlength']">
                El nombre debe tener al menos 5 caracteres!
            </div>
        </div>
    </div>
    <div>
        <button
            [disabled]="!estudianteForm.valid"
            type="submit"
            class="btn btn-primary my-2">
            {{estudiante.idEstudiante > 0 ?'Actualizar': 'Crear'}}
        </button>
        <button 
            type="button" 
            class="btn btn-success my-2 mx-2"
            (click)="clean()">
            Limpiar
        </button>
    </div>
</form>